node_modules/
.next/
.env.local
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.DS_Store
public/visuals/videos/ready10.mp4
public/visuals/videos/ready11.mp4
public/visuals/videos/ready13.mp4
public/visuals/videos/ready16.mp4
public/visuals/videos/ready17.mp4
public/visuals/videos/ready19.mp4
public/visuals/videos/ready20.mp4
public/visuals/videos/ready21.mp4
public/visuals/videos/ready22.mp4
public/visuals/videos/ready8.mp4
public/visuals/videos/ready9.mp4
public/visuals/videos/social_olgavas_Sea_wall_at_blue_hour_matte_color-blocks_Sunwashed_Ap_29191b20-3244-43eb-bd2a-62136407f084_0.mp4
public/visuals/videos/*.mp4
